---
# Custom options in the special build of clang-format (these are not standard options)
IndentNestedBlocks: false
AllowNewlineBeforeBlockParameter: false

#基于那个配置文件
BasedOnStyle: LLVM
#指针的*的挨着哪边
PointerAlignment: Right
#缩进宽度
IndentWidth: 4
# 连续的空行保留几行
MaxEmptyLinesToKeep: 1
# 在 @property 后面添加空格, \@property (readonly) 而不是 \@property(readonly).
ObjCSpaceAfterProperty: true
# OC block后面的缩进
ObjCBlockIndentWidth: 4
# 是否允许短方法单行
AllowShortFunctionsOnASingleLine: false
# 是否允许短if单行 If true, if (a) return; 可以放到同一行
AllowShortIfStatementsOnASingleLine: false
#注释对齐
AlignTrailingComments: true
# 换行的时候对齐操作符
AlignOperands: false
# 中括号两边空格 [] 
SpacesInSquareBrackets: true
# 小括号两边添加空格
SpacesInParentheses : true
#多行声明语句按照=对齐
AlignConsecutiveDeclarations: false
#连续的赋值语句以 = 为中心对齐
AlignConsecutiveAssignments: false
#等号两边的空格
SpaceBeforeAssignmentOperators: true
# 容器类的空格 例如 OC的字典
SpacesInContainerLiterals: true
#缩进
IndentWrappedFunctionNames: true
#在block从空行开始
KeepEmptyLinesAtTheStartOfBlocks: true
#在构造函数初始化时按逗号断行，并以冒号对齐
BreakConstructorInitializersBeforeComma: false
#函数参数换行
AllowAllParametersOfDeclarationOnNextLine: false
#括号后添加空格
SpaceAfterCStyleCast: true
#tab键盘的宽度
TabWidth: 4
UseTab: Never

IndentCaseLabels: false
#行宽度限制
ColumnLimit: 0

#控制单独的大括号换行事件
BreakBeforeBraces: Custom
BraceWrapping: 
    AfterClass: false
    AfterControlStatement: false
    AfterEnum: false
    AfterFunction: false
    AfterNamespace: false
    AfterObjCDeclaration: false
    AfterStruct: false
    AfterUnion: false
    BeforeCatch: false
    BeforeElse: false
    IndentBraces: false


# 在圆括号的(后和)前添加空格
SpacesInParentheses: false
# 在方括号的[后和]前添加空格，lamda表达式和未指明大小的数组的声明不受影响
SpacesInSquareBrackets: false
# 在尖括号的<后和>前添加空格
SpacesInAngles:  false
# 在空的圆括号中添加空格
SpaceInEmptyParentheses: false
# 在C风格类型转换的括号中添加空格
SpacesInCStyleCastParentheses: false
# 在C风格类型转换后添加空格
SpaceAfterCStyleCast: false
# 在容器(ObjC和JavaScript的数组和字典等)字面量中添加空格
SpacesInContainerLiterals: false
# 在赋值运算符之前添加空格
SpaceBeforeAssignmentOperators: true

# 延续的行的缩进宽度
ContinuationIndentWidth: 4
# 描述具有特殊意义的注释的正则表达式，它不应该被分割为多行或以其它方式改变
CommentPragmas:  '^ IWYU pragma:'
# 需要被解读为foreach循环而不是函数调用的宏
ForEachMacros:   [ foreach, Q_FOREACH, BOOST_FOREACH ]
# 开圆括号之前添加一个空格: Never, ControlStatements, Always
SpaceBeforeParens: ControlStatements
# 关闭格式化
DisableFormat:   false


